.full-height {
    height: 100% !important;
}

.white {
    color: white;
    cursor: pointer;
}

.header-icon {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.dashboard-container {
    position: absolute;
    top: 51px;
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    .card {
        width: 90% !important;
        height: 90%;
        align-self: center;
        box-shadow: 2px 2px 2px #888888;
        border-radius: 5px;
        .card-btns-container {
            height: 200px;
            width: 100%;
            display: flex;
            justify-content: center;
            .card-btns {
                align-self: center;
                .custom-orange-btn {
                    border-radius: 0px;
                    color: white;
                    background-color: orange;
                    font-size: 30px;
                    padding: 10px 50px;
                    cursor: pointer;
                    margin-left: 30px;
                }
            }
        }
        .card-charts-container {
            height: calc(100% - 200px);
            .card-charts {
                padding: 20px;
                .card-chart {
                    border: 1px solid green;
                    height: 80%
                }
                .card-chart-title {
                    text-align: center;
                    color: gray;
                    font-size: 25px;
                    height: 50px;
                    padding-top: 20px;
                }
            }
        }
    }
}
