$fa-font-path: '../bower_components/font-awesome/fonts';
$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';
$pink: #C57295;
$black: #333;
$red: #E61818;
$gold: #FFDF00;
$violet: #8038CA;
$blue: #0098eb;
$brand-success: #8D9CA0;
$input-border: #009fdf;
// bower:scss
@import "angular-ui-router-anim-in-out/scss/anim-in-out.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap.scss";
// endbower
@font-face {
    font-family: "default-font";
    src: url('../fonts/default-font1.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 14px;
    font-weight: 100;
    color: #black;
    background: #EDEDED;
    font-family: default-font, sans-serif, Helvetica;
}

a {
    color: $blue;
}

.custom-body {
    min-height: 100%;
    position: relative;
    background: #f1f1f1;
    background-size: 100% 100%;
}

.angular-google-map-container {
    height: 377px;
}

.relative-parent {
    position: relative;
}

.home-view {
    .carousel-control {
        display: none;
        transition: all 1s ease-out;
        width: 5% !important;
    }
    .carousel-inner:hover {
        &~.carousel-control {
            display: block;
        }
    }
    .carousel-indicators {
        transition: all 1s ease-out;
        display: none;
    }
    .hot-events {
        height: 200px;
        img {
            height: 200px !important;
        }
    }
    .event-list {
        height: auto;
        img {
            height: 100px;
        }
    }
}

#main-container {
    position: absolute;
    top: 0px;
    height: calc(100% - 40px);
}

.footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    div {
        padding-top: 10px;
        background: $blue;
        border-top: 1px solid #333;
        height: 100%;
    }
}

div[ng-messages] {
    font-family: verdana;
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 10px;
    background: $black;
    color: #FF0;
    border-radius: 8px;
    div[ng-message] {
        padding: 3px;
    }
}


/*::-webkit-input-placeholder {
   color: #CCC !important;
}

::-moz-placeholder {   Firefox 19+ 
   color: #CCC !important;  
}

:-ms-input-placeholder {  
   color: #CCC !important;  
}*/

label {
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 5px;
}

input[type=text],
input[type=number],
input[type=password],
input[type=file],
textarea.form-control {
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    border-bottom: 3px solid $brand-success;
    box-shadow: none;
    transition: all 1s ease-out;
    border-radius: 0px;
    &:focus {
        border-bottom: 3px solid $input-border;
        box-shadow: none;
        outline: 0;
    }
}

label.form-control {
    border: 1px solid $brand-success;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}


/* IE6 */

*:first-child+html .clearfix {
    zoom: 1;
}


/* IE7 */

nav.navbar {
    margin-bottom: 0;
    background: $blue;
    border-radius: 0;
    border-color: transparent;
    a {
        color: #FFF !important;
        background-color: transparent;
    }
    .navbar-toggle .icon-bar {
        background-color: #FFF;
    }
    .navbar-nav li.active {
        border-bottom: 2px solid $black;
        a {
            background-color: transparent !important;
        }
    }
    li.location-search-box {
        padding: 0px 5px;
    }
    a.navbar-brand {}
    input[type="text"] {
        border-bottom: 1px solid $red !important;
        color: #FFF !important;
        margin: 0px 2px;
    }
    li.dropdown {
        ul.dropdown-menu {
            background-color: #ededed;
            li a {
                color: $black !important;
            }
        }
        &.open {
            background-color: #ededed;
            .glyphicon-align-justify {
                color: $blue;
            }
        }
    }
}

.app-nav {
    font-size: 20px;
    background: $blue;
    color: #FFF;
    a span.glyphicon {
        color: #FFF;
        font-size: 18px;
    }
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-5 {
    margin-top: 5px;
}

.event-list {
    .glyphicon {
        font-size: .8em;
        color: #A41623;
        &:hover {
            cursor: pointer;
        }
    }
}

#event-detail-view {
    .fa-pencil,
    .fa-trash {
        font-size: 1.5em;
        color: #7F8888;
    }
}

.btn.add-event {
    border-radius: 50%;
    background-color: $blue;
    font-size: 2em;
    border: none;
    position: absolute !important;
    top: -0.9em;
    right: -0.3em;
    z-index: 100;
}

.card {
    border: 1px solid #CCC;
    padding: 10px 10px 20px 10px;
    background: #FFF;
}

.card.event {
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .19);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .19);
    -web-kit-box-shadow: 0 3px 3px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .19);
    padding: 5px 10px;
    margin-bottom: 5px;
    color: #676060;
    font-size: 1.1em;
    .title {
        font-size: 1.2em;
        color: $blue;
    }
    .date-period {
        color: $black;
    }
    .time-period {
        font-size: 0.6em;
    }
    .description {
        font-size: 0.8em;
        display: block;
        max-height: 6.4em;
        overflow: auto;
    }
}


/* Angular Ripple*/

[angular-ripple] {
    position: relative;
    overflow: hidden;
}

.angular-ripple {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: scale(0);
}

.angular-ripple.animate {
    animation: ripple 0.35s linear;
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

#login-view .social-button {
    &.facebook {
        button {
            color: white;
            text-align: left !important;
            background-color: #395a93;
        }
        .fa-facebook {
            background-color: #2c487a;
            line-height: 20px;
            width: 20px;
            text-align: center;
        }
    }
    &.google-plus {
        button {
            color: white;
            text-align: left !important;
            background-color: #e1493f;
        }
        .fa-google-plus {
            line-height: 20px;
            width: 20px;
            text-align: center;
            background-color: #cb4036;
        }
    }
}

.text-blue {
    color: $blue !important;
}

@import 'dashboard';
