<div class="container margin-top-30 anim-slide-below-fade" data-ng-form="changepwdform">
    <div class="col-xs-6 col-xs-offset-3 card">
        <div class="relative-parent">
            <input name="currentpassword" type="password" class="form-control form-group" data-ng-model="oldPwd" data-ng-required="true" placeholder="Current Password" minlength="6" compare-to="newPwd" compare-type="notequals"/>
            <div ng-messages="changepwdform.currentpassword.$error" data-ng-if="changepwdform.currentpassword.$dirty" role="alert">
                <div ng-message="required">Please enter password</div>
                <div ng-message="minlength">Password too short</div>
                <div ng-message="compareTo">New and Current passwords should be different</div>
            </div>
        </div>
        <div class="relative-parent">
            <input name="newpassword" type="password" class="form-control form-group" placeholder="New Password" data-ng-model="newPwd" data-ng-required="true" minlength="6" compare-to="oldPwd" compare-type="notequals"/>
            <div ng-messages="changepwdform.newpassword.$error" data-ng-if="changepwdform.newpassword.$dirty" role="alert">
                <div ng-message="required">Please enter password</div>
                <div ng-message="minlength">Password too short</div>
                <div ng-message="compareTo">New and Current passwords should be different</div>
            </div>
        </div>
        <div class="relative-parent">
            <input name="confirmpassword" type="password" class="form-control form-group" placeholder="Confirm Password" data-ng-model="confirmpassword" data-ng-required="true" minlength="6" compare-to="newPwd" compare-type="equals"/>
            <div ng-messages="changepwdform.confirmpassword.$error" data-ng-if="changepwdform.confirmpassword.$dirty" role="alert">
                <div ng-message="required">Please enter password</div>
                <div ng-message="minlength">Password too short</div>
                <div ng-message="compareTo">New Passwords doesn't match</div>
            </div>
        </div>
        <input type="buttton" class="btn btn-success form-control ripple ripple-light" value="Submit" data-ng-disabled="changepwdform.$invalid"  data-ng-click="submit()"/>
    </div>
</div>
