<nav class="col-xs-12 navbar navbar-default">
    <div class="container-fluid">
        <a class="header-icon" href="javascript:void(0);">Dashboard</a>
        <a class="fa fa-power-off white header-icon pull-right"></a>
    </div>
</nav>
<div class="dashboard-container">
    <div class="card">
        <div class="card-btns-container">
            <div class="card-btns">
                <button class="btn custom-orange-btn">Events</button>
                <button class="btn custom-orange-btn">Guest List</button>
                <button class="btn custom-orange-btn">Reviews</button>
            </div>
        </div>
        <div class="card-charts-container">
            <div class="row full-height">
                <div class="col-xs-4 col-lg-4 card-charts full-height">
                    <div class="card-chart"></div>
                    <div class="card-chart-title">Upcoming Events List</div>
                </div>
                <div class="col-xs-4 col-lg-4 card-charts full-height">
                    <div class="card-chart"></div>
                    <div class="card-chart-title">Events Vs Guest Count</div>
                </div>
                <div class="col-xs-4 col-lg-4 card-charts full-height">
                    <div class="card-chart"></div>
                    <div class="card-chart-title">Monthly Guest Count</div>
                </div>
            </div>
        </div>
    </div>
</div>
