<div class="col-xs-12 margin-top-30 app-body">
    <div class="col-xs-4">
        <div class="event-list">
            <div class="card event" data-ng-if="events.length" data-ng-repeat="ev in events">
                <b class="title" data-ng-click="viewEvent(ev,$index)">{{ev.name}}</b>
                <br>
                <small class="date-period text-muted">{{ev.startDate | moment}} - {{ev.endDate | moment}}</small>
                <br>
                <div class="clearfix ng-hide">
                    <small class="pull-left text-warning"><b>Cost</b> : INR {{ev.standardPrice}}</small>
                    <small class="pull-right text-success" data-ng-if="ev.discountPrice"><b>Discounted Price</b> : INR {{ev.discountPrice}}</small>
                </div>
                <small class="description text-muted">{{ev.description}}</small>
            </div>
            <div data-ng-if="!events.length" class="text-center">
                <span class="text-danger">Oops..! Seems like there are no events</span>
            </div>
        </div>
        <div><span data-ng-click="addEvent()" class="glyphicon glyphicon-plus btn btn-success ripple ripple-light add-event"></span></div>
    </div>
    <div class="col-xs-8 event-view-create" data-ui-view="">
    </div>
</div>
