<div class="col-xs-12 card" id="event-detail-view">
    <div class="row-fluid clearfix">
        <span class="fa fa-trash pull-right" tooltip="Delete" data-ng-click="deleteEvent(ev)"></span><span class="fa fa-pencil pull-right" tooltip="Edit" data-ng-click="editEvent(ev)"></span>
    </div>
    <h2 class="text-center text-blue">{{ev.name}}</h2>
    <div class="text-center col-xs-12">
        <b class="text-muted">{{ev.startDate}} - {{ev.endDate}}</b>
        <hr>
        <h3 class="text-blue">Cost : <i class="fa fa-inr">&nbsp;</i>{{ev.standardPrice}}</h3>
        <hr>
        <p>
            {{ev.description}}
            <h4 class="text-blue">Valid till: {{ev.endDate}}</h4>
        </p>
    </div>
</div>
<!-- <span class="right"><span data-ng-click="editEvent(ev,$index)" class="glyphicon glyphicon-pencil" tooltip="Edit"></span> <span tooltip="Delete" data-ng-click="deleteEvent(ev, $index)" class="glyphicon glyphicon-trash"></span></span> -->
