<div class="col-xs-12 card" data-ng-form="eventForm">
    <h2 class="text-center"><span data-ng-if="mode==='add'">Add</span><span data-ng-if="mode==='edit'">Edit</span> Event</h2>
    <div class="col-xs-12">
        <!-- <label for="eventname">Event Name</label> -->
        <input id="eventname" data-ng-disabled="mode === 'edit'" name="eventname" type="text" class="form-control form-group" data-ng-model="ev.name" placeholder="Event Name (min 5 characters, max 30 characters)" data-ng-required="true" minlength="5" maxlength="30">
        <div ng-messages="eventForm.eventname.$error" data-ng-if="eventForm.eventname.$dirty" role="alert">
            <div ng-message="required">Please enter Event name</div>
            <div ng-message="minlength">Event name is too short</div>
            <div ng-message="maxlength">Event name is too long</div>
        </div>
    </div>
    <div class="col-xs-6">
        <!-- <label for="fromdate">From</label> -->
        <input id="fromdate" name="fromdate" type="text" class="form-control form-group" data-ng-model="ev.startDate" azirko-date-time-picker azirko-format="DD MMM YYYY HH:mm" placeholder="From Date"data-ng-required="true" compare-to="ev.endDate" compare-type="less" compare-data-type="date"/>
        <div ng-messages="eventForm.fromdate.$error" data-ng-if="eventForm.fromdate.$dirty" role="alert">
            <div ng-message="required">Please specify From date</div>
            <div ng-message="compareTo">From date cannot be greater than To date</div>
        </div>
    </div>
    <div class="col-xs-6">
        <!-- <label for="todate">To</label> -->
        <input id="todate" name="todate" type="text" class="form-control form-group" data-ng-model="ev.endDate" azirko-date-time-picker azirko-format="DD MMM YYYY HH:mm" placeholder="To Date" data-ng-required="true" compare-to="ev.startDate" compare-type="more" compare-data-type="date"/>
        <div ng-messages="eventForm.todate.$error" data-ng-if="eventForm.todate.$dirty" role="alert">
            <div ng-message="required">Please specify To date</div>
            <div ng-message="compareTo">To date cannot be greater than From date</div>
        </div>
    </div>
    <div class="col-xs-6">
        <!-- <label for="cost">Cost</label> -->
        <input id="cost" name="cost" type="number" class="form-control form-group" data-ng-model="ev.standardPrice" placeholder="Cost (in rupees)" data-ng-required="true" />
        <div ng-messages="eventForm.cost.$error" data-ng-if="eventForm.cost.$dirty" role="alert">
            <div ng-message="required">Please specify cost</div>
        </div>
    </div>
    <div class="col-xs-6">
        <label class="form-control form-group">
            <input type="checkbox" data-ng-model="ev.discount" data-ng-true-value="true" data-ng-false-value="false" />&nbsp; <b>Is Discount Applicable?</b></label>
        <div data-ng-if="ev.discount">
            <div class="relative-parent">
                <!-- <label for="cost">Discount</label> -->
                <input id="percentage" name="percentage" type="number" min="0" class="form-control form-group" data-ng-model="ev.discountPrice" placeholder="Discounted Price (in rupees)" data-ng-required="true" />
                <div ng-messages="eventForm.percentage.$error" data-ng-if="eventForm.percentage.$dirty" role="alert">
                    <div ng-message="required">Please specify discount price</div>
                </div>
            </div>
            <div>
                <input id="tagname" name="tagname" type="text" class="form-control form-group" data-ng-model="ev.tagName" placeholder="Tag Name" />
                <textarea id="tagdescription" name="tagdescription" class="form-control form-group" data-ng-model="ev.tagDescription" placeholder="Tag Description" ></textarea>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <!-- <label for="description">Description</label> -->
        <textarea id="description" name="description" rows="3" class="form-control form-group" data-ng-model="ev.description" placeholder="something about the event" data-ng-required="true"></textarea>
        <div ng-messages="eventForm.description.$error" data-ng-if="eventForm.description.$dirty" role="alert">
            <div ng-message="required">Please specify the description</div>
        </div>
    </div>
    <div class="col-xs-12" data-ng-if="mode === 'add'">
        <label for="pubimage">Choose event images</label>
        <input type="file" class="form-control form-group" ngf-select ng-model="ev.images" name="pubimage" id="pubimage" accept="image/*" ngf-max-size="2MB" data-ng-required="true" multiple="multiple" />
    </div>
    <div class="col-xs-12">
        <button class="btn btn-success form-control form-group ripple ripple-light" data-ng-click="submit()" data-ng-disabled="eventForm.$invalid"><span data-ng-if="mode==='add'">Create</span><span data-ng-if="mode==='edit'">Update</span></button>
    </div>
</div>
