<div class="col-xs-12 margin-top-30" data-ng-form="forgotpwdform">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 card">
        <div>
            <h4>Please enter your registered email address </h4>
            <div class="relative-parent">
                <input type="text" name="email" class="form-control form-group" placeholder="Email Address" data-ng-model="email" data-ng-required="true" data-ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' />
                <div ng-messages="forgotpwdform.email.$error" data-ng-if="forgotpwdform.email.$dirty" role="alert">
                    <div ng-message="required">Please enter Email Address</div>
                    <div ng-message="pattern">Invalid Email Address format</div>
                </div>
            </div>
            <input type="buttton" class="btn btn-success form-control ripple-light" data-ng-disabled="forgotpwdform.$invalid" value="Submit" data-ng-click="submit()" />
        </div>
    </div>
</div>
