<div class="container margin-top-30 home-view">
    <div class="col-xs-12 hot-events">
        <uib-carousel class="col-xs-12" interval="-1" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in hotEvents" active="slide.active">
                <div class="row clearfix">
                    <div class="col-xs-4">
                        <img ng-src="{{slide.pubImageVOs[0].url}}">
                    </div>
                    <div class="col-xs-8 text-left">
                        <p>{{slide.name}}
                            <br>{{slide.startDate}} to {{slide.endDate}}
                            <br>{{slide.description}}</p>
                    </div>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>
    <div class="col-xs-12 event-list">
        <div class="col-xs-12" data-ng-repeat="ev in eventList">
            <div class="col-xs-3">
                <img ng-src="{{ev.pubImageVOs[0].url}}"></img>
            </div>
            <p class="col-xs-9">{{ev.name}}</p>
        </div>
    </div>
</div>
