<div class="col-xs-12 margin-top-30" id="login-view">
    <div class="col-xs-12 card text-center">
        <div class="margin-top-30 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" data-ng-form="loginForm">
            <!-- <div class="col-xs-12 form-group social-button facebook">
                <button class="form-control btn"><i class="fa fa-facebook"></i>&nbsp;Login via Facebook</button>
            </div>
            <div class="col-xs-12 form-group social-button google-plus">
                <button class="form-control btn"><i class="fa fa-google-plus"></i>&nbsp;Login via Google</button>
            </div>
            <div class="col-xs-12 form-group">
                or
            </div> -->
            <div class="col-xs-12">
                <input type="text" placeholder="Email Address or Username" data-ng-required="true" name="username" class="form-control form-group" data-ng-model="user.username" />
                <div ng-messages="loginForm.username.$error" data-ng-if="loginForm.username.$dirty" role="alert">
                    <div ng-message="required">Please enter your username / email address</div>
                </div>
            </div>
            <div class="col-xs-12">
                <input type="password" placeholder="Password" name="password" data-ng-required="true" class="form-control form-group" data-ng-model="user.password" />
                <div ng-messages="loginForm.password.$error" data-ng-if="loginForm.password.$dirty" role="alert">
                    <div ng-message="required">Please enter your password</div>
                </div>
            </div>
            <div class="col-xs-12 text-center">
                <input type="button" data-ng-click="login()" class="btn btn-success pull-left form-control ripple ripple-light" value="LOGIN" data-ng-disabled="loginForm.$invalid" />
            </div>
            <div class="col-xs-12 margin-top-5">
                <a data-ui-sref="forgotPassword" href="javascript:void(0);">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
