<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 margin-top-30">
        <div class="col-xs-6 card" data-ng-form="registrationForm">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input name="pubname" data-ng-required="true" type="text" class="form-control form-group" data-ng-model="pub.pubName" placeholder="Name of Pub" />
                <div ng-messages="registrationForm.pubname.$error" data-ng-if="registrationForm.pubname.$dirty" role="alert">
                    <div ng-message="required">Please enter Pub name</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input name="email" type="text" data-ng-required="true" class="form-control form-group" data-ng-model="pub.email" placeholder="Email Address" data-ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' />
                <div ng-messages="registrationForm.email.$error" data-ng-if="registrationForm.email.$dirty" role="alert">
                    <div ng-message="required">Please enter Email Address</div>
                    <div ng-message="pattern">Invalid Email Address format</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <input name="password" type="password" data-ng-required="true" minlength="6" class="form-control form-group" data-ng-model="pub.password" placeholder="Password" />
                <div ng-messages="registrationForm.password.$error" data-ng-if="registrationForm.password.$dirty" role="alert">
                    <div ng-message="required">Please enter password</div>
                    <div ng-message="minlength">Password too short</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <input name="confirmpassword" data-ng-required="true" minlength="6" type="password" class="form-control form-group" data-ng-model="pub.confirmPassword" placeholder="Confirm Password" compare-to="pub.password" compare-type="equals" />
                <div ng-messages="registrationForm.confirmpassword.$error" data-ng-if="registrationForm.confirmpassword.$dirty" role="alert">
                    <div ng-message="required">Please confirm the password</div>
                    <div ng-message="compareTo">Password doesn't match</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <textarea name="address" data-ng-required="true" class="form-control form-group" rows="3" data-ng-model="pub.address" placeholder="Address of Pub"></textarea>
                <div ng-messages="registrationForm.address.$error" data-ng-if="registrationForm.address.$dirty" role="alert">
                    <div ng-message="required">Please specify address</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label>Choose pub image</label>
                <input type="file" class="form-control form-group" data-ng-required="true" ngf-select ng-model="pub.images" name="file" accept="image/*" ngf-max-size="2MB" multiple="multiple" />
            </div>
            <button class="btn btn-success form-control" data-ng-click="register()" data-ng-disabled="registrationForm.$invalid">Register</button>
        </div>
        <div class="col-xs-6">
            <!-- <input type="text" class="form-control form-group" data-ng-model="searchLocation"/> -->
            <ui-gmap-google-map center='map.center' zoom='map.zoom' events="mapEvents">
                <ui-gmap-marker data-ng-if="marker" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            </ui-gmap-google-map>
        </div>
    </div>
</div>
<script type="text/ng-template" id="searchbox.tpl.html">
    <input type="text" style="width:100%;margin-top:25px;background:white;" placeholder="Please enter your location" />
</script>
